<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <style>
        body {
            font-family: Lato, serif
        }
    </style>
    <meta charset="UTF-8">
    <title>Keyword Analyzer</title>
</head>
<body>
    <label for="value_input">Copy URL here</label>
    <input type="text" id="value_input" onkeydown="if(event.keyCode === 13) {change_value()}">
    <button onclick="change_value()">Submit</button>
    <div id="output"></div>
    <script>
        let input_element = document.getElementById("value_input");
        let output = document.getElementById("output");
        function change_value() {
            fetch("{{ url_for('analyzer.get_statistics') }}", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({"url": input_element.value})
            }).then(
                response => response.json()
            ).then(
                response => output.innerHTML = JSON.stringify(response)
            )
        }
    </script>
</body>
</html>